html,
body {
	height: 100%;
}

// THESE STYLES (HEIGHT/COLOR) ARE FOR EXAMPLE SETUP
.height-wrapper {
	min-height: 100%;
	position: relative;

	main {
		padding-bottom: rem-calc(260);
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}


// STICKY-FOOTER SETUP
// <div class="height-wrapper">

// 	<main>
// 		&nbsp;
// 	</main>

// 	<footer>
// 		&nbsp;
// 	</footer>

// </div>
