@import "../../_settings.scss";

body#index {
	.row {
		.membership,
		.booking {
			.prose {
				text-align: left;
			}
		}

		p {
			font-size: rem(18);
		}

		a {
			font-size: rem(22);
		}

		@include breakpoint(medium) {
			a {
				font-size: rem(25);
			}

			.booking {
				.prose {
					text-align: center;
					// float: right;
				}
			}
		}
	}
}