.intro-prose {
	.prose-wrap {
		max-width: rem-calc(300);
		margin: 0 auto;
		width: 100%;

		@include breakpoint(480) {
			max-width: rem-calc(380);
		}

		@include breakpoint(medium) {
			max-width: rem-calc(520);

			p {
				font-size: rem-calc(18);
			}
		}
	}
}

.price-card-grid {
	.price-card {
		border-radius: rem-calc(4);
	}
}
