.tanspire-solution-section {
	.h3 {
		font-size: 25px;
	}

	.custom-callout {
		border-radius: rem-calc(4);
		border: rem-calc(2) solid #88c4dc;

		.cell-heading {
			font-size: rem-calc(18);
			max-width: rem-calc(400);
		}

		.cell-heading span {
			display: inline-block;
			position: relative;
		}

		.cell-heading span:after {
			content: '';
			position: absolute;
			margin-left: 12px;
			width: 300px;
			border-bottom: 4px solid #88C4DC;
			top: 50%;
		}
	}
}
