.intro-prose {
	.prose-wrap {
		max-width: rem-calc(300);
		margin: 0 auto;
		width: 100%;

		@include breakpoint(480) {
			max-width: rem-calc(380);
		}

		@include breakpoint(medium) {
			max-width: rem-calc(520);

			p {
				font-size: rem-calc(18);
			}
		}
	}
}

.price-card-grid {
	.price-card {
		border-radius: rem-calc(4);
		text-align: center;

		.header {
			background: transparent url('/img/assets/bg/gold-foil/small/gold-foil.jpg') center/cover no-repeat;
			padding: rem-calc(16) rem-calc(8);
		}

		.body {
			height: rem-calc(130);
			background: #fff;
		}

		.footer {
			padding: rem-calc(12) rem-calc(8);
			background: #88c4dc;
			color: #fff;
		}

		p {
			font-size: rem-calc(22);
		}
	}
}
