
@font-face {
    font-family:"Novecento-WideDemiBold";
    src:url("novecento_wide-demibold.woff2") format("woff2"),url("novecento_wide-demibold.woff") format("woff"),url("novecento_wide-demibold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        