@import "../_settings.scss";


.p-0 {
	padding: 0;
}

.m-0 {
	margin: 0;
}

.p-x {
	padding: 0 rem(20);
}

.p-y {
	padding: rem(20) 0;
}

.m-x {
	margin: 0 rem(20);
}

.m-y {
	margin: rem(20) 0;
}

.inline-block {
	display: inline-block;
}