<footer>
	<div class="row">
		<div class="medium-6 columns text-center medium-text-left">
			<ul class="menu display-inline-block">
				<li>
					<a href="https://twitter.com/TanspireHouston" target="_blank"><img src="/img/assets/socialMediaIcons/twitter.svg" alt="Twitter Icon" title="Tanspire on Twitter"></a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/d-ann-palomarez-25862915" target="_blank"><img src="/img/assets/socialMediaIcons/linkedin.svg" alt="LinkedIn Icon" title="Tanspire on LinkedIn"></a>
				</li>
				<li>
					<a href="https://www.instagram.com/tanspirehouston/" target="_blank"><img src="/img/assets/socialMediaIcons/instagram.svg" alt="Instagram Icon" title="Tanspire on Instagram"></a>
				</li>
				<li>
					<a href="https://www.facebook.com/TanspireHouston" target="_blank"><img src="/img/assets/socialMediaIcons/facebook.svg" alt="Facebook Icon" title="Tanspire on Facebook"></a>
				</li>
				<li>
					<a href="https://www.yelp.com/biz/tanspire-houston-3" target="_blank"><img src="/img/assets/socialMediaIcons/yelp.svg" alt="Yelp Icon" title="Tanspire on Yelp"></a>
				</li>
			</ul>
		</div>
		<div class="medium-6 columns text-center medium-text-right footerProse">
			<p>&copy; Tanspire 2021</p>
			<a id="colophonLink" href="https://studioncreations.com" target="_blank">A <span>Studio N</span> Creation</a>
		</div>
	</div>
</footer>
