<header>
	<aside class="contact-info heading show-for-medium">
		<address class="show-for-medium"><a href="https://goo.gl/maps/CW2Ws4mZY6E2" target="_blank">1511 N Durham Dr Houston, TX 77008</a></address>
		<span itemprop="telephone" class="phone">713-955-1232</span>
	</aside>
	<div class="grid-x grid-padding-x" style="background: #fff;">
		<div class="cell medium-6 large-5 logo-container">
			<a href="/"><img src="{{ cdn }}/img/header/logo/logo-wide.png" srcset="{{ cdn }}/img/header/logo/logo-wide@2x.png 2x" alt="TanSpire Logo"></a>
			<div class="white-gradient show-for-medium"></div>
		</div>
		<div class="show-for-medium medium-6 large-7 cell nav-container align-self-middle">
			<ul class="menu heading">
				<li><a class="{{ index-active }}" href="/">Home</a></li>
				<li><a class="{{ faq-active }}" href="/things-to-know">FAQ</a></li>
			</ul>
		</div>
	</div>
	<div class="title-bar" data-responsive-toggle="mobile-menu" data-hide-for="medium">
		<div class="title-bar-left">
			<a href="tel://713-955-1232"><i class="icon-phone"></i></a>
			<a href="https://goo.gl/maps/CW2Ws4mZY6E2" target="_blank"><i class="icon-location"></i></a>
		</div>
		<div class="title-bar-right">
			<div class="title title-bar-title">Menu</div>
			<button class="menu-icon" type="button" data-toggle></button>
		</div>
	</div>
	<div class="top-bar show-for-small-only" id="mobile-menu">
		<ul class="dropdown menu vertical text-right" data-dropdown-menu>
			<li><a href="/">Home</a></li>
			<li class="active"><a href="/things-to-know">FAQ</a></li>
		</ul>
	</div>
</header>
