<?php
	include($_SERVER['DOCUMENT_ROOT'].'/php/autoVer.php');
?>
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="no-js" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<link href="https://tanspire.com{{ url }}" rel="canonical">
	<link href="/humans.txt" rel="author">

	<link href="/apple-touch-icon.png" rel="apple-touch-icon">
	<meta name="apple-mobile-web-app-title" content="TanSpire">

	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ og-title }}">
	<meta property="og:description" content="{{ og-description }}">
	<meta property="og:url" content="https://tanspire.com{{ url }}">
	<meta property="og:site_name" content="TanSpire Houston">
	<meta property="og:image" content="https://tanspire.com{{ og-image }}">
	<!-- <meta property="fb:app_id" content="123456789"> -->

	<link href="https://use.typekit.net/uqe4zfj.css" rel="stylesheet">
	<link href="{{ cdn }}<?php autoVer('/css/app.css'); ?>" rel="stylesheet">

</head>
<body id="{{ body-id }}" class="{{ body-class }}">



{{> body}}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery/2-2-2/jquery-min.js"><\/script>')</script>
<script src="{{ cdn }}<?php autoVer('/js/app-min.js'); ?>"></script>

{{> google-tracking-id }}

</body>
</html>
